<h1 class="mt-4">Treinos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>
<div class="container">
  <form #form="ngForm" (submit)="onSubmit()">
      <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role ="alert" *ngIf = "sucesso == true">  Treino salvo/Atulizada com sucesso </div>
                <div class = "alert alert-danger" role="alert" *ngFor="let erro of errosApi"> </div>
            </div>
      
            <div class="col-md-6">
                <div class="form-group">
                    <label>Pessoa: </label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="treinos.idPessoa">
                        <option value="">Selecione...</option>
                        <option *ngFor="let pessoa of pessoas" [ngValue]="pessoa.id">{{ pessoa.nome }}</option>
                    </select>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="form-group">
                    <label>Equipamentos: </label>
                    <select class="form-control"[ngModelOptions]="{standalone: true}" [(ngModel)]="treinos.idEquipamentos">
                        <option value="">Selecione...</option>
                        <option *ngFor="let equipamento of equipamentos " [ngValue]="equipamento.id">{{ equipamento.equipamentosnome }}</option>
                    </select>
                </div>
          </div>
      </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>quantidade: </label>
                <input class="form-control" [(ngModel)]="treinos.quantidade" type="text" name="quantidade"
                  id="inputquantidade">
              </div>
            </div>
          
  
            <div class="col-md-6">
              <div class="form-group">
                <label>repeticao: </label>
                <input class="form-control" [(ngModel)]="treinos.repeticao" type="text" name="repeticao">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>peso: </label>
                <input class="form-control" [(ngModel)]="treinos.peso" type="text" name="peso">
              </div>
            </div>
         
            <div class="col-md-6">
              <div class="form-group">
                <label>Ficha: </label>
                <input class="form-control" [(ngModel)]="treinos.ficha" type="text" name="ficha">
              </div>
            </div>
          </div>
        </div>
     
          <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>

                <button type="button" class="btn btn-danger ml-1" routerLink="/treinosLista">
                    <i class="fa fa-arrow-alt-circle-left"></i> 
                    Voltar
                </button>
            </div>
          </div>  
  </form>
</div>