<h1 class="mt-4">Pessoas</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container">
  <form #pessoasForm="ngForm" (ngSubmit)="gravarPessoas()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="sucesso == true">
          Pessoa salva/atualizada com sucesso!!!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let meuErro of errosApi">
          {{ meuErro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Id:</label>
          <input type="text" class="form-control" disabled=true [(ngModel)]="pessoa.id" name="id">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label>Nome:</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.nome" name="nome">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label>Sobrenome:</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.sobreNome" name="sobreNome">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Data de Nascimento:</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.dataNacimento" name="dataNascimento">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label>E-Mail:</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.email" name="eMail">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label>Cpf:</label>
          <input type="text" class="form-control" [(ngModel)]="pessoa.cpf" name="cpf">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary" *ngIf="!pessoa.id">
          <i class="fa fa-save"></i>Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="pessoa.id">
          <i class="fa fa-sync-alt"></i>Atualizar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-backspace"></i>Voltar
        </button>
      </div>
    </div>
  </form>
  <br>

</div>



