<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="pessoasLista">Pessoas</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
        href="#" aria-haspopup="true" aria-expanded="false">Atividades Fisicas</a>

         <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="treinosLista">Treinos</a>
          <a class="dropdown-item" routerLink="equipamentosLista">Equipamentos</a>
         </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="false" href="#"> Nutrição </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="alimentosLista">Alimentos</a>
          <a class="dropdown-item" routerLink="dietasLista">Dietas</a>
          <a class="dropdown-item" routerLink="refeicoesLista">Refeições</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
